:root {
    --main: #2069cf;
    --main-light: #5b8fd8d8;
    --dark: #000;
    --dark-light: #101010;
    --white: #eee;
    --cream: #f4ebd9;
    /* --cream: rgb(255, 252, 228); */
    --grey: rgb(169, 169, 169);
}