@font-face {
    font-family: 'Hanken Grotesk Regular';
    src: url('/fonts/HankenGrotesk/HankenGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk Bold';
    src: url('/fonts/HankenGrotesk/HankenGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk Italic';
    src: url('/fonts/HankenGrotesk/HankenGrotesk-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk Bold Italic';
    src: url('/fonts/HankenGrotesk/HankenGrotesk-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: "Hanken Grotesk Regular";
}