{{ $homeLink := .Site.Params.Homepage }}
{{ if .IsHome }}
    {{ $homeLink = "/" }}
{{ end }}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
        <!-- show the profile-logo if not on landing or about page -->
        {{ if and (not .IsHome) (not (eq .RelPermalink "/about/")) }}
        <div class="logo">
            <a href={{ relref . $homeLink }}>
                <img class="logo" src="/profile-circle-bright.png">
            </a>
        </div>
        {{ end }}
    </div>
    <div class="navbar-middle">
        {{ if not .IsHome}}
            <a class="a-clean" href={{ relref . $homeLink }}><p class="welcome-title">{{ .Site.Title }}</p></a>
            {{ if and .Site.Menus .Site.Menus.main }}
                <div class="menu">
                    {{ $lastIndex := sub (len .Site.Menus.main) 1 }}
                    {{ $currentPage := .RelPermalink }}
                    {{ range $i, $el := .Site.Menus.main }}
                    <!-- https://gist.github.com/dudil/edf2b1838c7cc5f1131a3777dbc662a9.html -->
                    {{ $url := urls.Parse .URL }}
                    {{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
                        {{ $active := "" }}
                        {{ if eq $el.URL $currentPage }}
                            {{ $active = "active" }}
                        {{ end }}
                        <a class="{{ $active }}" href="{{ $el.URL }}" {{ if ne $url.Host $baseurl.Host }}target="_blank"{{ end }}>{{ $el.Name }}</a>
                        {{ if ne $i $lastIndex }} / {{ end }}
                    {{ end }}
                </div>
            {{ end }}
        {{ end }}
    </div>
    <div class="navbar-end">
        <div class="socials">
            {{ $socials := .Site.Params.socials }}
            {{ if and .IsHome $socials }}
                {{ $socials = where $socials "landing" true }}
            {{ end }}
            {{ range $el := $socials }}
                <div class="social">
                    <a href="{{ $el.url }}" target="_blank">
                        <i class="{{ $el.icon }}"></i>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
</nav>