{{ partial "header.html" . }}

{{ if .Site.Params.BypassWelcomePage }}

<head>
	<meta http-equiv="refresh" content="0; URL={{ relref . .Site.Params.Homepage }}" />
</head>
{{/* {{ else if eq .type "mobile" }}
<section>
	<div class="container" style="position:relative">
		<img src="/landing.png" alt="landing page saying creative portfolio and introducing an image of Emily">
		<div style="display:inline-block">
			<h1 class="landing-page">Hi! I'm Emily - a designer and engineer.</h1>
			<div class="enter add-margin">
				<button onclick="window.location.href='{{ relref . .Site.Params.Homepage }}'"
					class="button is-black is-large is-outlined">enter</button>
			</div>
		</div>
	</div>
	<div>
		{{ partial "footer_base.html" . }}
	</div>
</section> */}}
{{ else }}
{{/* {{ partial "navbar.html" . }} */}}
<section>
	<div class="container" style="position:relative">
		<img src="/landing.png" alt="landing page saying creative portfolio and introducing an image of Emily">
		<div style="display:inline-block">
			<h1 class="landing-page remove-margin">Hi! I'm Emily - a designer and engineer.</h1>
			<div class="enter">
				<button onclick="window.location.href='{{ relref . .Site.Params.Homepage }}'"
					class="button is-black is-large is-outlined">enter</button>
			</div>
		</div>
	</div>
	<div>
		{{ partial "footer_base.html" . }}
	</div>
</section>
{{ end }}

{{ partial "footer.html" . }}